* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Gloria Hallelujah', cursive;
}

.body {
    position: relative;
    background-image: url(imagenes/background.Webp);
    background-attachment: fixed;
}

html {
    scroll-behavior: smooth;
}

.body::-webkit-scrollbar {
    width: 8px;
}

.body::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer {
    font-size: 30px;
    color: #87805E;
    display: flex;
    align-items: center;
}

.number {
    display: inline-block;
    width: 200px;
    font-size: 128px;
    text-align: center;
    border: none;
    color: #87805E;
    background-color: transparent;
}

.buttons-start {
    border: none;
    background-color: transparent;
    font-size: 2rem;
    padding: 5px;
    color: #87805E;
    cursor: pointer;
    transition: 500ms;
    border-radius: 50%;
}

.navbar-collapse {
    flex-grow: 0;
}

.nav-items {
    display: flex;
}

.nav-bar {
    background-color: #D8CCA3 !important;
}

.section {
    margin-top: 2rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    min-height: 100vh;
}

.titulo {
    font-size: 2.5rem;
    color: #87805E;
}

.timer__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #F1DDBF;
}

.timer__container--minutos {
    padding: 1rem;
    font-size: 2rem;
}

.timer__container--segundos {
    padding: 1rem;
    font-size: 2rem;
}

.frases-container {
    padding: 50px;
    border: 1px solid #000;
}

.button-frase-container {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.spotify {
    display: flex;
    justify-content: center;
    margin-right: 10px;
    padding: 5px 0 5px 0;
}

.section-spotify {
    margin-left: 10px;
    position: relative;
}

.btn-timer {
    background-color: #D8CCA3;
}

.btn-timer:hover {
    background-color: #87805E;
    border: none;
}

.timer-container {
    margin-bottom: 10px;
    background-color: #EDDFB3;
}

.buttons-container {
    display: flex;
    align-items: center;
}

.card-container {
    background-color: #EDDFB3;
    position: absolute;
}

.section-pomodoro {
    background-color: #D8CCA3;
    z-index: 20;
    min-height: 100vh;
    background-image: url(imagenes/background-section.WebP);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-container {
    width: 650px;
    margin-top: 30px;
}

.h2-name {
    padding: 10px;
}

.lista-tareas {
    border-radius: 5px;
    background-color: #EDDFB3;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    overflow: scroll;
    width: 500px;
    padding: 20px;
    align-items: center;
}

.lista-tareas::-webkit-scrollbar {
    width: 7px;
}

.lista-tareas::-webkit-scrollbar-thumb {
    background: #D8CCA3;
    border-radius: 5px;
}

.form {
    background-color: #D8CCA3;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

.input-tareas {
    background: transparent;
    border: none;
}

.btn-add-task {
    margin-left: 2px;
    font-size: 100%;
    color: #87805E;
}

.listado-pomodoro {
    list-style: lower-roman;
}

.information-p {
    color: #000;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid #000;
}

.footer-item-container {
    display: flex;
}

.footer-item {
    margin: 10px;
    font-size: 20px;
}

.footer-a {
    color: #000;
    text-decoration: none;
}

.footer-a:hover {
    color: #000;
}

.footer-icons-container {
    margin-bottom: 10px;
}

.footer-icons {
    margin: 5px;
    font-size: 20px;
}

.personal-information-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personal-information {
    margin-bottom: 1rem;
}

.personal-information-name {
    color: #000;
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
}

.personal-information-name:hover {
    color: #000;
}