* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Gloria Hallelujah', cursive;
}

.body {
    position: relative;
    background-image: url(imagenes/background.Webp);
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer {
    font-size: 30px;
    color: #87805E;
    display: flex;
    align-items: center;
}

.number {
    display: inline-block;
    width: 200px;
    font-size: 128px;
    text-align: center;
    border: none;
    color: #87805E;
    background-color: transparent;
}

.buttons-start {
    border: none;
    background-color: transparent;
    font-size: 2rem;
    padding: 5px;
    color: #87805E;
    cursor: pointer;
    transition: 500ms;
    border-radius: 50%;
}


/* .buttons-start:hover {
    background-color: #fff;
    border-radius: 50%;
} */

.navbar-collapse {
    flex-grow: 0;
}

.nav-items {
    display: flex;
}

.nav-bar {
    margin-bottom: 2rem;
    background-color: #D8CCA3 !important;
}

.section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.titulo {
    font-size: 2.5rem;
    color: #87805E;
}

.timer__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #F1DDBF;
}

.timer__container--minutos {
    padding: 1rem;
    font-size: 2rem;
}

.timer__container--segundos {
    padding: 1rem;
    font-size: 2rem;
}

.frases-container {
    padding: 50px;
    border: 1px solid #000;
}

.button-frase-container {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.spotify {
    display: flex;
    justify-content: center;
    margin-right: 10px;
    padding: 5px 0 5px 0;
}

.section1 {
    position: fixed;
    margin-left: 10px;
}

.btn-timer {
    background-color: #D8CCA3;
}

.btn-timer:hover {
    background-color: #87805E;
    border: none;
}

.timer-container {
    margin-bottom: 10px;
    background-color: #EDDFB3;
}

.buttons-container {
    display: flex;
    align-items: center;
}

.card-container {
    background-color: #EDDFB3;
}